<div class="table-container">
  <table>
    <!-- Table header -->
    <thead>
      <tr>
        <th>Riding Name</th>
        <th>District ID</th>
        <th>Number of Polls</th>
        <th>Number of Electors</th>
        <th>Number of Candidates</th>
      </tr>
    </thead>
    <!-- Table body -->
    <tbody>
      <tr *ngFor="let riding of ridings; let i = index">
        <td>{{ riding.districtName }}</td>
        <td>{{ riding.districtId }}</td>
        <td>{{ riding.districtNumPolls }}</td>
        <td>{{ riding.districtNumElectors }}</td>
        <td>{{ riding.districtNumCandidates }}</td>
      </tr>
    </tbody>
  </table>
</div>
