.row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .col-3 {
    flex: 0 0 25%;
    max-width: 25%;
    padding: 0 10px;
  }
  
h1{
  font-family: 'Lato', Arial, sans-serif;
  font-weight:bold;
  font-style:normal;
  padding-left: 3rem;
}
h2{
  
    font-family: 'Lato', Arial, sans-serif;
    font-weight:bold;
    font-style:normal;
    
  
}
  
 h4,th,tr,tbody {
    
      font-family: 'Lato-Regular', Arial, sans-serif;
      font-weight:normal;
      font-style:normal;
      text-align: center;
  
  }

  .table-container {
    padding: 50px;
    width: 75%;
    flex: wrap;
  }