<h1>The Canadian Press</h1>

<!-- Parties Table -->
<div class="table-container">
  <h2>Parties Table</h2>
  <app-partiestable></app-partiestable>
</div>
<hr> <!-- Add a horizontal line as a partition -->

<hr> <!-- Add a horizontal line as a partition -->

<hr> <!-- Add a horizontal line as a partition -->

<!-- Candidates for All Ridings Table -->
<div class="table-container">
  <h2>Candidates for All Ridings</h2>
  <app-candidatesforallridings></app-candidatesforallridings>
</div>

<hr> <!-- Add a horizontal line as a partition -->

<hr> <!-- Add a horizontal line as a partition -->

<hr> <!-- Add a horizontal line as a partition -->

<!-- Candidates for All Ridings Table -->
<div class="table-container">
  <h2>Elected</h2>
  <app-elected></app-elected>
</div>

<hr> <!-- Add a horizontal line as a partition -->

<hr> <!-- Add a horizontal line as a partition -->

<hr> <!-- Add a horizontal line as a partition -->

<!-- Candidates for All Ridings Table -->
<div class="table-container">
  <h2>Ridings</h2>

  <app-ridings></app-ridings>
</div>
<hr> <!-- Add a horizontal line as a partition -->

<hr> <!-- Add a horizontal line as a partition -->

<hr> <!-- Add a horizontal line as a partition -->

<!-- Candidates for All Ridings Table -->
<div class="table-container">
  <h2>Totals By Party </h2>
  <app-totalsbyparty></app-totalsbyparty>
</div>
<hr> <!-- Add a horizontal line as a partition -->

<hr> <!-- Add a horizontal line as a partition -->

<hr> <!-- Add a horizontal line as a partition -->

<!-- Candidates for All Ridings Table -->
<div class="table-container">
  <h2>Totals By Ridings </h2>
  <app-totalsbyriding></app-totalsbyriding>
</div>  
<router-outlet></router-outlet>
