<img src="./assets/tcp-image-dark.png" alt="The Canadian Press Logo" width="500rem">
<h1>The Canadian Press Alberta 2023 Election Dashboard</h1>
<ng-container *ngIf="isCandidatesRouteActive(); else otherRoutes">
  <!-- Candidates for All Ridings Table -->
  <div class="table-container">
    <h2>Candidates</h2>
    <div class="district-table" *ngFor="let districtData of districtResponses">
      <h3>District {{ districtData.district }}</h3>
      <select>
        <option *ngFor="let candidate of districtData.candidates" value="{{ candidate.id }}">
          {{ candidate.name }}
        </option>
      </select>
    </div>
  </div>  
</ng-container>

<ng-template #otherRoutes>
<!-- Parties Table -->

  <div class="table-container">
    <h2>Votes</h2>
    <app-votes></app-votes>  
  </div>

  <div class="table-container">
    <h2>Candidates</h2>
    <app-districtcandidates></app-districtcandidates>
  </div>

  <div class="table-container">
    <h2>Parties</h2>
    <app-partiestable></app-partiestable>
  </div>
  

  <!-- Candidates for All Ridings Table -->
  <div class="table-container">
    <h2>Districts</h2>
    <app-candidatesforallridings></app-candidatesforallridings>
  </div>

  <p></p>
  <p></p>
  <p></p>
  <footer class="page-footer">
   
    <div class="page-footer-content">
      <!-- Footer content here -->
    </div>
  </footer>

</ng-template>
<router-outlet></router-outlet>

