<div class="table-container">
<table>
  <thead>
    <tr>
      <th>District</th>
      <th>Name</th>
      <th>Party ID</th>
      <th>Ballot Order</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let districtData of districtResponses">
      <tr *ngFor="let candidate of districtData.candidates">
        <td>{{ districtData.district }}</td>
        <td>{{ candidate.candidateGivenName }} {{ candidate.candidateSurname }}</td>
        <td>{{ candidate.candidatePartyId }}</td>
        <td>{{ candidate.candidateBallotOrder }}</td>
      </tr>
    </ng-container>
  </tbody>
</table>
</div>
